/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-blocksmg-mansory-block {

	.staff__container{
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		width: 100%;
	}

	.block{
		width: 250px;
		background-color: #f1f1f1;
		padding: 10px;
		margin-bottom: 10px;
	}
}
